<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MealPrepMe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Menü öffnen / schließen">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/recipes">Rezepte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/meal-prep">Meal Prep</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shopping-list">Einkaufsliste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ingredients">Zutaten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ingredients/new">Neue Zutat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes/new">Neues Rezept</a>
                </li>
            </ul>
        </div>
    </div>
</nav>