<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h1 class="h3">New Recipe</h1>
        <form action="/recipes" method="POST" class="row g-3">
            <div class="col-12">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="recipe[title]">
            </div>
            <div class="col-12">
                <label for="image" class="form-label">Image</label>
                <input type="text" class="form-control" id="image" name="recipe[image]">
            </div>
            <div id="recipe-ingredients" class="p-0 m-0 row g-3">
                <div class="col-12">
                    <h2 class="h5 my-3">Ingredients</h2>
                    <div class="row gx-2">
                        <div class="col-2">
                            <label for="quantity-1" class="form-label">Quantity</label>
                            <input type="text" class="form-control" id="quantity-1" name="ingredients[quantity][]">
                        </div>
                        <div class="col-2">
                            <label for="unit-1" class="form-label">Unit</label>
                            <input type="text" class="form-control" id="unit-1" name="ingredients[unit][]">
                        </div>
                        <div class="col-8">
                            <label for="ingredient-1" class="form-label">Ingredient</label>
                            <input type="text" class="form-control" id="ingredient-1" name="ingredients[name][]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button id="add-ingredient-button"
                        class="d-block ps-0 btn btn-link link-underline link-underline-opacity-0">+ Add Ingredient
                </button>
            </div>
            <div id="recipe-steps" class="p-0 m-0 row g-3">
                <div class="col-12">
                    <h2 class="h5 my-3">Steps</h2>
                    <label for="step-1" class="form-label">Step 1</label>
                    <textarea class="form-control" id="step-1" rows="3" name="steps[]"></textarea>
                </div>
            </div>
            <div class="col-12">
                <button id="add-step-button" class="d-block ps-0 btn btn-link link-underline link-underline-opacity-0">+
                    Add Step
                </button>
            </div>
            <div class="col-12">
                <label for="preparation-time" class="form-label">Preparation time</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="preparation-time" name="recipe[preparationTime]"
                           aria-describedby="preparation-time-description">
                    <span class="input-group-text" id="preparation-time-description">Minutes</span>
                </div>
            </div>
            <div class="col-12">
                <label for="servings" class="form-label">Servings</label>
                <input type="text" class="form-control" id="servings" name="recipe[servings]">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save Recipe</button>
            </div>
        </form>
    </div>
</div>

<script>
    const addStepButton = document.getElementById("add-step-button");
    const recipeSteps = document.getElementById("recipe-steps");

    let stepCount = 1;

    const addStep = () => {
        stepCount++;

        const step = document.createElement("div");
        step.classList.add("col-12");

        const stepLabel = document.createElement("label");
        stepLabel.innerHTML = `Step ${stepCount}`;
        stepLabel.classList.add("form-label");
        stepLabel.setAttribute("for", `step-${stepCount}`);

        const stepContent = document.createElement("textarea");
        stepContent.classList.add("form-control");
        stepContent.setAttribute("name", `steps[]`);
        stepContent.setAttribute("id", `step-${stepCount}`);
        stepContent.setAttribute("rows", 3);

        step.appendChild(stepLabel);
        step.appendChild(stepContent);

        recipeSteps.appendChild(step);
    }

    addStepButton.addEventListener("click", (event) => {
        event.preventDefault();
        addStep();
    });
</script>


<script>
    const addIngredientButton = document.getElementById("add-ingredient-button");
    const recipeIngredients = document.getElementById("recipe-ingredients");

    let ingredientCount = 1;

    const addIngredient = () => {
        ingredientCount++;

        const ingredient = document.createElement("div");
        ingredient.className = "row gx-2";

        const ingredientContainer = document.createElement("div");
        ingredientContainer.className = "col-12";

        const quantity = document.createElement("div");
        quantity.className = "col-2";
        quantity.innerHTML = `<label for="quantity-${ingredientCount}" class="form-label">Quantity</label><input type="text" class="form-control" id="quantity-${ingredientCount}" name="ingredients[quantity][]">`

        const unit = document.createElement("div");
        unit.className = "col-2";
        unit.innerHTML = `<label for="unit-${ingredientCount}" class="form-label">Unit</label><input type="text" class="form-control" id="unit-${ingredientCount}" name="ingredients[unit][]">`;

        const ingredientName = document.createElement("div");
        ingredientName.className = "col-8";
        ingredientName.innerHTML = `<label for="ingredient-${ingredientCount}" class="form-label">Ingredient</label><input type="text" class="form-control" id="ingredient-${ingredientCount}" name="ingredients[name][]">`;

        ingredient.appendChild(quantity);
        ingredient.appendChild(unit);
        ingredient.appendChild(ingredientName);

        ingredientContainer.appendChild(ingredient);

        recipeIngredients.appendChild(ingredientContainer);
    }

    addIngredientButton.addEventListener("click", (event) => {
        event.preventDefault();
        addIngredient();
    });
</script>
